.button{
    display: flex;
    background: rgb(131, 129, 129);
    border: solid 2px rgb(67, 64, 64);
    border-radius: 25px;
    height: 30px;
    width: 90px;
    vertical-align: middle;
    padding: 5px;
    margin-left: 25px;
    font-family: 'Golos Text', sans-serif;
    &:hover{
        cursor: pointer;
    }
}